<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.springapp.mvc.dao.CommentDao">

    <select id="getCommentCount" parameterType="com.springapp.mvc.domain.Parameter" resultType="java.lang.Integer">
        SELECT count(1) from comment
        where comment_time BETWEEN #{startTime} and #{endTime}
        <if test="type != 0">
            and type = #{type}
        </if>
        <if test="gameName != null">
            and game_id = (select id from games where game_name = #{gameName} and from_store = #{store})
        </if>

    </select>

    <select id="getCommentCountWithoutTime" parameterType="com.springapp.mvc.domain.Parameter" resultType="java.lang.Integer">
        SELECT count(1) FROM comment
        where comment_time BETWEEN #{startTime} and #{endTime} and game_id = (select id from games where game_name = #{gameName} and from_store = #{store})
        GROUP BY type
    </select>

    <select id="getCommentList" parameterType="com.springapp.mvc.domain.Parameter"
            resultType="com.springapp.mvc.domain.Comment">
        SELECT
        id as id,
        content as content,
        author as author,
        comment_time as commentTime,
        score as score
        from comment
        where 1=1
        <if test="type != 0">
            and type = #{type}
        </if>
        <if test="gameName != null">
            and game_id = (select id from games where game_name = #{gameName} and from_store = #{store})
        </if>
        limit #{perPageNo} offset #{offset}
    </select>

    <select id="getTotalCount" parameterType="com.springapp.mvc.domain.Parameter" resultType="java.lang.Integer">
        SELECT count(1) FROM  comment
    </select>

    <select id="getCommentStarCount" parameterType="com.springapp.mvc.domain.Parameter" resultType="java.lang.Integer">
        SELECT count(1)
        FROM comment
        where comment_time BETWEEN #{startTime} and #{endTime}
        <if test="gameName != null">
            and game_id = (select id from games where game_name = #{gameName} and from_store = #{store})
        </if>
        GROUP BY score
    </select>

    <select id="getFeelingLineCount" parameterType="com.springapp.mvc.domain.Parameter" resultType="com.springapp.mvc.domain.FeelingEntry">
        select
        DATE_FORMAT(comment_time,'%m-%d') as commentTime,
        type,
        count(1) as count
        from comment
        where comment_time BETWEEN CURRENT_DATE -7 and CURRENT_DATE
        <if test="gameName != null">
            and game_id = (select id from games where game_name = #{gameName} and from_store = #{store})
        </if>
        GROUP BY DATE_FORMAT(comment_time,'%m-%d'),type
    </select>
</mapper>