<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.springapp.mvc.dao.RuleDao">

    <insert id="addRule" parameterType="com.springapp.mvc.domain.Rule" useGeneratedKeys="true">
        INSERT INTO rule(user_name,game_name,method,ml,count,type)
        VALUES (#{rule.userName},#{rule.gameName},#{rule.method},#{rule.ml},#{rule.count},#{rule.type})
    </insert>

    <update id="updateRule" parameterType="com.springapp.mvc.domain.Rule" useGeneratedKeys="true">
        UPDATE rule SET
        user_name = #{rule.userName},
        game_name = #{rule.gameName},
        method = #{rule.method},
        ml = #{rule.ml},
        count = #{rule.count},
        type = #{rule.type}
        WHERE id = #{rule.id}
    </update>

    <delete id="deleteRule" parameterType="java.lang.Integer">
        DELETE FROM rule WHERE id = #{id}
    </delete>

    <select id="getAllRule" resultType="com.springapp.mvc.domain.Rule">
        SELECT
        id as id,
        user_name as userName,
        game_name as gameName,
        method as method,
        ml as ml,
        count as count,
        type as type
        FROM rule
    </select>
</mapper>