<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.springapp.mvc.dao.SubscribeDao">

    <update id="modifyHotWord" parameterType="map">
        UPDATE hotword set hot_word = #{hotWord} where game_name = #{gameName} and user_name = #{userName}
    </update>

    <insert id="insertHotWord" parameterType="map" useGeneratedKeys="true">
        INSERT INTO hotword(game_name,user_name,hot_word) VALUES (#{gameName},#{userName},#{hotWord})
    </insert>

    <select id="existHotWord" parameterType="map" resultType="java.lang.Integer">
        SELECT count(1) from hotword
        WHERE game_name = #{gameName} and user_name = #{userName}
    </select>
</mapper>